/* Rounded corners for IE7/7/8 */
.rc-4 #nav-wrapper ul li,
.rc-4 #nav-wrapper ul li a,
.rc-8 #nav-wrapper ul li,
.rc-8 #nav-wrapper ul li a,
.rc-12 #nav-wrapper ul li,
.rc-12 #nav-wrapper ul li a,
ul.links li,
ul.primary li a,
div.item-list ul.pager li,
input.form-submit,
input.form-text,
.rc-4 .article,
.rc-4 .comment,
.rc-4 .block-inner,
.rc-4 .breadcrumb,
div.admin-panel,
.rc-8 .article,
.rc-8 .comment,
.rc-8 .block-inner,
.rc-8 .breadcrumb,    
.rc-12 .article,
.rc-12 .comment,
.rc-12 .block-inner,
.rc-12 .breadcrumb,
.rc-4 .block-title,
.rc-8 .block-title,
.rc-12 .block-title,
.rc-4 .block-content,
.rc-4 .article-footer,
.rc-8 .block-content,
.rc-8 .article-footer,
.rc-12 .block-content,
.rc-12 .article-footer,
.rc-4 .block .block-content.no-title,
.rc-4 .region-secondary-content .block,
.rc-4 .region-tertiary-content .block,
.rc-8 .block .block-content.no-title,
.rc-8 .region-secondary-content .block,
.rc-8 .region-tertiary-content .block,
.rc-12 .block .block-content.no-title,
.rc-12 .region-secondary-content .block,
.rc-12 .region-tertiary-content .block,
.view-content .calendar-calendar ul.inline li  {
  /* Uncomment the following line and add make the path to PIE.htc absolute. */
  /* behavior: url("<-- add your path here -->/sites/all/libraries/PIE/PIE.htc"); */
}

/* Kill other things PIE might enable that we really don't want */
.bs-l #page,
.bs-d #page,
section.breadcrumb,
#secondary-content-wrapper .block > .block-inner,
#breadcrumb-wrapper .block > .block-inner,
#content-wrapper .block > .block-inner,
#quadpanel-wrapper .block > .block-inner,
#tertiary-content-wrapper .block > .block-inner {
  -webkit-box-shadow: 0 0 0 transparent;
  -moz-box-shadow: 0 0 0 transparent;
  box-shadow: 0 0 0 transparent;
}

/* Some things are badly affected by PIE */
.breadcrumb .element-invisible {
  top: -99999em;
}
#crumbs {
  position: relative;
  top: 15px;
}
section.breadcrumb {
  margin-bottom: 20px
}